# Mac finder information
.DS_Store

# Debug symbols
*.dSYM

# Visual Studio Code settings
.vscode/

# Fuck no
data/

# Binary executables
bin/

# Output images
out/

# Screen size & other compile-time (but system-dependent) constants
config/